#title {
  background-color: #ff4c68;
}

.navbar-light {
  color: white;
  font-family: "Ubuntu";
}

a.navbar-brand {
  margin-left: 30px;
  color: white;
  font-size: 2.5rem;
  font-weight: bold;
  font-family: "Ubuntu";
}

a.nav-link {
  font-weight: bold;
  color: white;
  margin: 10px;
  font-size: 1.5rem;
}

.nav-item {
  padding-top: 40px;
}

.navbar-collapse {
  text-align: center;
}

.container-fluid {
  text-align: center;
}

.heading {
  color: white;
  font-family: "PT Sans Narrow";
  font-size: 5rem;
  margin: 5rem 2rem;
}

.iphone {
  transform: rotate(21deg);
  margin-top: 4rem;
  width: 400px;
  height: 800px;
  text-align: center;


}

.btn {
  width: 200px;
  height: 50px;
  text-align: center;
  margin-right: 40px;
}

i {
  margin-right: 1rem;
}

.second {
  text-align: center;
  margin: 100px;
}

.features-images {
  color: #b3807a;
  font-size: 5rem;
}

.features-images:hover {
  color: rgb(189, 46, 46);
}

#title {
  text-align: left;
}

.title-image {
  width: 350px;
  top: 180px;
  right: 25%;
  position: absolute;
}

#features{
    /* padding: 7% 15%; */
    background-color: white;
    position: relative;
}

.heading2 {
  font-weight: bolder;
}

.para2 {
  color: grey;
  font-size: 21px;
  text-align: center;
  padding: 40px;
  font-size: bolder;
}

#testimonials {
  background-color: rgb(224, 104, 104);
  color: white;
  font-family: 'Montserrat';
  text-align: center;
}

h3 {
  font-size: 50px;
  text-align: center;
  padding: 7% 15%;
}

.test-profile {
  border-radius: 100%;
  width: 25%;
}

.press-logo {
  width: 15%;
  margin: 20px 20px 50px;
  
}

.carousel-item{

    padding:7% 15%;
}

.colored-section{
    background-color: rgb(224, 104, 104);
    text-align:center;
}


.pricing-column{
    text-align: center;
}

#pricing{
    text-align: center;
}

.plan{
    margin:5% 0%;
    font-size: 50px;
}

.simple{
    font-size: 20px;
    font-weight: bolder;
}

.chotu{
    align-items: center;
    width: 100%;
}


@media(max-width:1028px){
    #title{
        text-align: center;
    }
    .iphone{
        position: static;
        transform: rotate(0);
    }
}


#cta{
    background-color: tomato;
    color: white;
    text-align: center;

    padding: 7% 15%;
}

.cta-heading{
    font-family: 'Montserrat black';
    font-size: 3.5rem;
}

#footer{
    padding:7% 15%;
    text-align: center;
    color: grey;
}

.yo:hover{
    color:rgb(189, 46, 46);
}

.yolo{
  color:white;
}